<form action="/" method="POST" style='display:inline' class="m-3">
  <div class="input-group mb-3">
    <input class='form-control' type="text" placeholder="name" name="name">
    <div class="input-group-append">
      <button class='btn btn-success' type="submit">Create</button>
      <a href="/" class="btn btn-primary">back</a>
    </div>
  </div>
</form>